.img-responsive-h{
	max-height:100%;
	max-width:100%;
	display:block;
}

.align-center {
    margin: auto;
}

.mtop20{
	margin-top:20px;
}
.mbottom20{
	margin-bottom:20px;
}

.profile-block {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
	display:inline-block;
	width:100%;
	background:#fff;
}
.profile-block input,
.profile-block input:focus {
    
    box-shadow: 0px 0px 0px 0px #fff;
	outline:none;
	
}
.profile-block .form-group {
    padding: 10px;
    
}

.profile-block .form-group.active{
	background: rgb(51, 122, 183);
	color:#fff;
}
.profile-block .form-group.active input{
	padding:10px;
}

.profile-block .col-sm-3{
	width:25% !important;
}


.home-top-logo {
    position: relative;
    z-index: 1;
}
.home-top-logo .logo-td{
	display:inline-block;

}
table.home-top-logo td:first-child, 
table.home-top-logo td:last-child {
    vertical-align: middle;
}
table.home-top-logo td:first-child:after, 
table.home-top-logo td:last-child:after {
    content: "";
    border-bottom: 1px solid #fff;
    display: inline-block;
    width: 100%;
	opacity:0.5;
}

#featured .featured-list-wrapper > div{
	min-height: 100px;
    vertical-align: middle;
}

#featured .featured-list-wrapper > div:before{
	content:"";
	height:100px;
	display:inline-block;
	vertical-align:middle;
}

#featured .featured-list-wrapper > div a{
	
	display:inline-block;
	vertical-align:middle;
}

.footer-links img {
    max-width: 32px;
}


.ratelist-body{
	background-color:#fff;
	margin-bottom:20px;
}
#rate-filters-frm select{
    padding: 8px;
    width: 100%;
    border: 2px solid #000;
    font-size: 1.2em;
    color: #00afef;
    text-transform: uppercase;
	
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.select-cover {position:relative}
.select-cover:after {content: '';
    color: #aaa;
    /* -webkit-transform: rotate(90deg); */
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    right: 20px;
    top: 20px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    background-image: url(../img/downarrow.png);
    width: 31px;
    height: 18px;
    background-size: 22px;
    background-repeat: no-repeat;
	}

.pricelist-tab{
	margin:20px 0 20px 0; 
}


.pricelist-tab td{
	padding:10px;	
	color:#000;
	font-size:1.2em;
}

.pricelist-tab td:first-child{
	color:#3a3a3a;
}

hr.pricelist-seprator {
    border: 1px solid #dbdbdb;
}

.subscription-pack-block {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    box-shadow: 2px 2px 2px 0px #ccc;
	margin-bottom:30px;
}

.subscription-pack-block td{
	padding:5px 0px;
}
.subscription-pack-block .-title{
	font-size:1.5em;
	font-weight:bold;
}

.awesomplete ul li {
    color: #000;
}

div.awesomplete > ul{
	background-color:#fff;
	top:63px;
}

#package-list .single-package .heading{
	padding:20px;
}
#package-list .single-package .block-title{
	font-size:30px;
	margin:20px 10px 15px 10px;
}

#package-list .single-package{
    float: none;
    display: inline-block;
	padding-top:10px;
	padding-bottom:0px;
}

#package-list .single-package:hover {
    background: #F0F0EE;
}

.packages-list .single-package:hover .product-action {
 
    position: relative;
    top: -25px;
}

#rate-filters-frm{
	padding-top:20px;
}

.deliver-type-opt .btn{
	background:#eae7de;
	border:1px solid #204d74
}

.deliver-type-opt .btn.active{
	background:#286090;
	color:#FFF;
}

@media (min-width: 768px){
#loginModal .modal-dialog {
    width: 480px;   
}

#loginModal .modal-dialog #social-icons-conatainer .btn{
	border-radius:0px;
}

}


/* Order Summary Page Css Starts{*/

.ordersummary-cover .-title{
	margin-bottom:10px;
}

.ordersummary-cover .-title h3 {
    color: #56D7FA;
    font-size: 2em;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 5px 0px 10px 0px;
    margin: 0 0 0px 0;
}

.ordersummary-cover .-title h3:after {
    content: "";
    width: 70%;
    display: block;
    color: #ccc;
    text-align: center;
    border-top: 2px solid #ccc;
    margin: auto;
    max-width: 80px;
    bottom: -10px;
    position: relative;
}

.odelivery-data-block{
	font-size:1.2em;
	
}

.ordersummary-cover .green-title{
	color:#87bf39;
}

.ordersummary-cover .-os-left {
    border-right: 2px solid #ccc;
}
.ordersummary-cover .-os-right {
    border-left: 2px solid #ccc;
	left:-2px; 
}

.-os-right .order-summary-title{
	border-bottom:1px solid #ccc;
	margin-bottom:0px;
}




.order-items-summary span{
	padding:10px 0;
	display:inline-block;
}

.order-items-summary .-ois-title span{
	font-weight:bold;
	padding:20px 0 0 0;
	display:inline-block;
}


.ordersummary-cover .-os-right .-os-right-left{
    border-right: 2px solid #ccc;	
}

.ordersummary-cover .-os-right .-os-right-right{
    border-left: 2px solid #ccc;
	left:-2px; 
	
}

.order-receipt-pre-block{
	background:#FFF;
	margin:20px 0 0 0;
	display:inline-block;
	width:100%;
	padding:0 0 10px 0;
}

.order-receipt-pre-block .apply-coupon-btn{
    padding: 7px;
    display: block;
    border: 2px solid #000;
    width: 85%;
    margin: 20px auto 5px auto;
    text-align: center;
	cursor:pointer;
}
.form-group.couponcode {
    padding: 15px 7% 0 7%;
}

.order-receipt-pre-block .apply-coupon-btn:hover{
	background-color:#000;
	color:#fff;
}



.order-receipt-pre-block .place-order-btn {
    background: #000;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
}

.order-receipt-pre-block td{
	padding:5px;
}
.order-receipt-pre-block tfoot td{
	border-top:1px solid #ccc !important;
}

/* }Order Summary Page Css Ends*/


.bhoechie-tab-menu .list-group{
	min-height:300px;
}

.order-tracksummary-block {
    
	display:inline-block;
	width:100%;
	

	border:2px solid #DADCDB;
	
	border-right-color:transparent;
	border-left-color:transparent;
	
	font-size:1.3em;
}

.order-tracksummary-block.active{
	border:2px solid #DADCDB;	
	background: #fff;
}

.order-tracksummary-block.active .-tabhead {
	color:#2692FC;	
    background: #DADCDB;
    padding-top: 10px;
    padding-bottom: 10px;
}

.order-tracksummary-block .-tabhead {
	color:#000;	

    padding-top: 10px;
    padding-bottom: 10px;
}


.order-tracksummary-block .-body {
    padding-top: 20px;
    padding-bottom: 20px;
	display:none;
}



.order-tracksummary-block .-body ul{
	padding:0;
	margin:20px 0 0 0;
}
.order-tracksummary-block .-body li{
	list-style:none;
	padding:8px 0; 
}


.order-tracksummary-block .-body li .-pay-type
{
	color:#2692FC;	
}

.order-tracksummary-block .-tabhead:after{
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    position: absolute;
    right: 10px;
    transform: scale(1,1.3);
}

.order-tracksummary-block.active .-tabhead:after{
	content: "\f078";
	transform: scale(1.3,1);
}

.track-flow-dia{
	white-space:nowrap;
}
.track-flow-dia li{
	display:inline-block;
	width:33.3333%;
}

.track-flow-dia li.track-process:after{
	
}
.place-order-btn{cursor:pointer}