.contain-to-grid {
    width: 100%;
    background: #FFF !important;
}
.top-bar-section ul li > a {
    color: #000 !important;
}
.navf ul li
{
    float:left;
    padding :10px;
    font-size:20px;
}
.navf ul li a
{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background: #191919;
    padding: 4px;
    font-size:15px;
    font-weight: 600;
}
.navf ul li a:hover {
    font-size: 15px;
    font-weight: 600;
    background: #191919;
    padding: 4px;
    opacity: .7;
}
.navf{
    margin-top: 20px;
    margin-left: -7px;
}